[submodule "neuros-safemrs"]
	path = neuros-safemrs
	url = https://github.com/neuros-x/neuros-safemrs.git
[submodule "neuros-docker"]
	path = neuros-docker
	url = https://github.com/neuros-x/neuros-docker.git
[submodule "neuros-sim"]
	path = neuros-sim
	url = https://github.com/neuros-x/neuros-sim.git
[submodule "neuros-agent"]
	path = neuros-agent
	url = https://github.com/neuros-x/neuros-agent.git
[submodule "neuros-gui"]
	path = neuros-gui
	url = https://github.com/neuros-x/neuros-gui.git
[submodule "neuros-demos"]
	path = neuros-demos
	url = https://github.com/neuros-x/neuros-demos.git
[submodule "neuros-bridge"]
	path = neuros-bridge
	url = https://github.com/neuros-x/neuros-bridge.git
[submodule "neuros-benchmarking"]
	path = neuros-benchmarking
	url = https://github.com/neuros-x/neuros-benchmarking.git
